@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* Path: app/tailwind.config.js */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
}

.hero-section {
  position: relative;
  background-image: url("../public/hero-bg-image.jpg");
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(26, 26, 26, 0.5), rgba(31, 31, 31, 0.7));
  z-index: 0; /* Adjust the z-index as needed */
}
